:root {
  --color-white: #fff;
  --color-green: #16A085;
  --color-red: #C82647;
  --color-orange: #EB9532;
  --color-purple: #7E3661;
}
.contenido1{
  display: flex;
  justify-content: right;
}
    
button {
  border: 2px solid;
  border-radius: 9px;
  cursor: pointer;
  margin: 0 10px;
  padding: 20rem 50rem;
  font-weight: bold;
  font-size: 1rem;
  
}
button:focus {
  outline: 0;
}
.btn_1 {
  background-color: rgba(2, 28, 51, 0.95);
  border-color: var(--color-green);
  transition: box-shadow 0.2s ease-in-out;
  color:#fff;
}
.btn_1:hover {
  box-shadow: 0 0 40px 40px var(--color-green) inset;
}

.btn_2 {
  background: #ac4643;
  color: #fff;
  }
  
  .btn_2:hover{
    background: #750400;
  }

.btn_3{
  background: #124716;
  color: #fff;
  }
  
  .btn_3:hover{
    background: #38742c;
  }
  .btn_4{
    background: #082abed0;
    color: #fff;

    }
    
    .btn_4:hover{
      background: #2e3aaa;
    }  


.fa-solid{
  margin:10px;
}

.fa-regular{
  margin:10px;
}


@media(min-width: 668px) {
  button {
    padding: .2rem .1rem;
  }
  .fa-solid{
    margin:1px;
  }
  
  .fa-regular{
    margin:1px;
  }
  
}
